<a href="https://colab.research.google.com/github/carloshvmoraes/ISGDTPDN/blob/main/ISGD_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Integrating Smart Grid Devices into the Traditional Protection of Distribution Networks

## Install Python Libraries

In [7]:
!pip install pandapower

Requirement already satisfied: pandapower in /usr/local/lib/python3.7/dist-packages (2.8.0)
Requirement already satisfied: pandas>=0.17 in /usr/local/lib/python3.7/dist-packages (from pandapower) (1.3.5)
Requirement already satisfied: numpy>=0.11 in /usr/local/lib/python3.7/dist-packages (from pandapower) (1.21.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pandapower) (21.3)
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.7/dist-packages (from pandapower) (2.6.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pandapower) (1.4.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17->pandapower) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17->pandapower) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17->pandapower) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pandapower) (3.0.7)

## Download Source ISGDTPDN

In [8]:
!wget https://raw.githubusercontent.com/carloshvmoraes/ISGDTPDN/main/src/ISGDTPDN.py -O ISGDTPDN.py
!wget https://raw.githubusercontent.com/carloshvmoraes/ISGDTPDN/main/examples/CWB_p64.py -O CWB_p64.py

--2022-03-03 21:37:53--  https://raw.githubusercontent.com/carloshvmoraes/ISGDTPDN/main/src/ISGDTPDN.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2509 (2.5K) [text/plain]
Saving to: ‘ISGDTPDN.py’

ISGDTPDN.py         100%[===================>]   2.45K  --.-KB/s    in 0s

2022-03-03 21:37:53 (29.7 MB/s) - ‘ISGDTPDN.py’ saved [2509/2509]

--2022-03-03 21:37:53--  https://raw.githubusercontent.com/carloshvmoraes/ISGDTPDN/main/examples/CWB_p64.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5433 (5.3K) [text/plain]
Saving to: ‘CWB_p64.py’

CWB_p64.py          100%[===================>]   5.31K  --.-KB/s    in 0s

2022-03-03 21:37:53 (43.5 MB/s) - ‘CWB_p64.py’ saved [5433/5433]

## Example - CWB Bus 64

<img src="https://github.com/carloshvmoraes/ISGDTPDN/raw/main/examples/CWB_p64.png" width="500" />

## Basic Use

In [9]:
from ISGDTPDN import CurrSaved, CurrSavedNew, FaultDetect
from CWB_p64 import new_network
import pandapower as pp
import random
import pandas as pd
import IPython

random.seed(42)

# basic settings for 2 scenarios
scenarios = [
            {'sw_meters':[64], 'LoadRange':0.05},
            {'sw_meters':[64, 68], 'LoadRange':0.05},
            ]

for setting in scenarios:
  name_scenario = '-'.join(map(str,setting['sw_meters']))
  display(IPython.display.HTML(f'<h1>Scenario {name_scenario}</h1>'))

  filename = name_scenario + '_' + str(setting['LoadRange']) + '_single'
  
  # create distribuition net
  net = new_network(medidores=setting['sw_meters'])
  
  # load current before changes
  pp.runpp(net)
  I_Load = net.res_bus['p_mw'] * 72.46376811594203 / net.res_bus['vm_pu']
  
  # Fault Pattern Currents
  I_saved = CurrSaved(net)

  # load change by Range
  net.load['p_mw'] = [random.uniform(1-setting['LoadRange'], 1+setting['LoadRange']) * r['p_mw'] for _, r in net.load.iterrows()]

  # load current after changes
  pp.runpp(net)
  I_Load_new = net.res_bus['p_mw'] * 72.46376811594203 / net.res_bus['vm_pu']
  currLoad = pd.concat([I_Load, I_Load_new], axis=1, keys=['BusLoad O', 'BusLoad PF']).sort_index()
  currLoad.index.name = 'Bus'
  display(IPython.display.HTML(f'<h2>Load Currents</h2>'))
  display(currLoad)
  currLoad.to_csv(filename + '_iLoad.csv')

  # Fault Pattern correction
  I_saved_new = CurrSavedNew(net, I_saved)

  solutions = []
  for sw_id, r in net.switch.iterrows():
    # create fault
    net.switch.at[sw_id, 'closed'] = False
    pp.runpp(net, neglect_open_switch_branches=True)
    # remove fault
    net.switch.at[sw_id, 'closed'] = True
    
    # search fault
    fault_best = FaultDetect(net, I_saved_new)
    # best solution
    if sw_id in fault_best:
      index = fault_best.index(sw_id)
      res = {'fault':sw_id, 'choices': fault_best, 'position':(index+1)}
      solutions.append(res)

  dfsol = pd.DataFrame(data=solutions)
  dfsol = dfsol.set_index('fault').sort_index()
  dfsol.to_csv(filename + '_solutions.csv')
  display(IPython.display.HTML(f'<h2>Solutions</h2>'))
  display(dfsol)

     BusLoad O  BusLoad PF
Bus
0   -77.500083  -77.418436
64    5.067339    5.167688
65    1.259279    1.239151
66    2.835890    2.738065
67    2.522072    2.637201
68    5.786033    5.690876
69    5.420742    5.199264
70    6.796136    6.520998
71    1.675464    1.733415
72    3.797843    3.836871
73    1.311850    1.351981
74    2.515041    2.572555
75    4.342225    4.357516
76    1.292400    1.353416
77    2.379238    2.350078
78    5.242460    5.269216
79    4.511127    4.659761
80    2.482667    2.512126
81    4.792177    4.965679
82    6.131958    6.179180
83    1.138134    1.161381
84    6.113600    5.835555

                                                 choices  position
fault
64     [64, 65, 66, 67, 68, 69, 82, 73, 78, 70, 74, 8...         1
65     [65, 66, 67, 64, 68, 69, 82, 73, 78, 70, 74, 8...         1
66     [66, 67, 68, 65, 69, 64, 82, 73, 78, 70, 74, 8...         1
67     [67, 68, 66, 65, 69, 82, 73, 78, 64, 70, 74, 8...         1
68     [68, 67, 66, 69, 65, 82, 73, 78, 70, 74, 80, 8...         1
69     [69, 82, 73, 78, 70, 74, 80, 68, 84, 81, 79, 7...         1
70     [74, 70, 78, 80, 73, 84, 81, 79, 75, 72, 82, 7...         2
71     [71, 76, 83, 77, 72, 75, 79, 81, 84, 80, 74, 7...         1
72     [72, 75, 79, 81, 77, 84, 71, 76, 83, 80, 74, 7...         1
73     [73, 78, 70, 74, 80, 82, 84, 81, 79, 75, 72, 7...         1
74     [74, 70, 78, 80, 73, 84, 81, 79, 75, 72, 82, 7...         1
75     [75, 79, 81, 72, 84, 77, 71, 80, 76, 83, 74, 7...         1
76     [76, 83, 71, 77, 72, 75, 79, 81, 84, 80, 74, 7...         1
77     [77, 71, 76, 83, 72, 75, 79, 81, 84, 80, 74, 7...         1
78     [78, 73, 70, 74, 80, 84, 82, 81, 79, 75, 72, 7...         1
79     [81, 79, 75, 72, 84, 77, 80, 71, 76, 83, 74, 7...         2
80     [80, 74, 70, 84, 78, 73, 81, 79, 75, 72, 77, 7...         1
81     [81, 79, 75, 84, 72, 80, 77, 71, 74, 70, 76, 8...         1
82     [82, 73, 78, 70, 74, 80, 84, 81, 79, 75, 72, 6...         1
83     [83, 76, 71, 77, 72, 75, 79, 81, 84, 80, 74, 7...         1
84     [84, 81, 79, 75, 80, 72, 74, 70, 78, 77, 73, 7...         1

     BusLoad O  BusLoad PF
Bus
0   -79.488457  -79.589138
64    2.512049    2.558455
65    2.912761    3.012662
66    1.610211    1.654685
67    2.583880    2.513926
68    1.759721    1.677440
69    2.891253    2.837933
70    5.171970    5.051784
71    3.448443    3.348698
72    3.470287    3.624234
73    2.460422    2.553085
74    2.831529    2.779122
75    7.113302    7.224140
76    5.267794    5.212910
77    4.985037    5.191986
78    2.205870    2.196902
79    5.665747    5.532517
80    2.126297    2.072440
81    3.479273    3.500662
82    7.256717    7.084671
83    5.084238    5.127359
84    4.566813    4.748672

                                                 choices  position
fault
64     [64, 69, 65, 73, 74, 70, 66, 75, 67, 78, 76, 7...         1
65     [65, 69, 66, 67, 68, 64, 73, 74, 70, 75, 78, 7...         1
66     [66, 67, 68, 69, 65, 73, 74, 82, 70, 64, 75, 7...         1
67     [67, 66, 68, 69, 65, 73, 74, 82, 70, 75, 64, 7...         1
68     [68, 67, 66, 69, 65, 73, 82, 74, 70, 75, 78, 7...         1
69     [69, 73, 82, 68, 74, 67, 66, 70, 75, 78, 79, 8...         1
70     [70, 75, 78, 79, 80, 76, 77, 83, 84, 72, 71, 8...         1
71     [81, 71, 72, 84, 77, 83, 76, 80, 79, 78, 75, 7...         2
72     [72, 71, 81, 84, 77, 83, 76, 80, 79, 78, 75, 7...         1
73     [73, 82, 74, 70, 75, 69, 78, 79, 80, 76, 77, 8...         1
74     [74, 82, 73, 70, 75, 78, 79, 80, 76, 77, 83, 8...         1
75     [75, 70, 78, 79, 80, 76, 77, 83, 84, 72, 71, 8...         1
76     [76, 83, 77, 80, 79, 78, 84, 72, 71, 81, 75, 7...         1
77     [76, 83, 77, 80, 79, 78, 84, 72, 71, 81, 75, 7...         3
78     [78, 79, 80, 76, 77, 83, 75, 84, 72, 71, 81, 7...         1
79     [80, 79, 83, 84, 81, 71, 72, 77, 76, 78, 75, 7...         2
80     [80, 79, 83, 84, 81, 71, 72, 77, 76, 78, 75, 7...         1
81     [81, 84, 83, 80, 79, 71, 72, 77, 76, 78, 75, 7...         1
82     [82, 71, 72, 77, 76, 78, 75, 70, 79, 80, 83, 8...         1
83     [83, 80, 84, 79, 81, 71, 72, 77, 76, 78, 75, 7...         1
84     [84, 83, 80, 79, 81, 71, 72, 77, 76, 78, 75, 7...         1